.wp-block-cardano-connect-pools {

	.pools-placeholder {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		width: 100%;
		font-size: small;

		.pool-placeholder {
			background-color: #ededed;
			border-radius: 4px;
			padding: 8px;
			width: 100%;

			.pool-placeholder-head {
				display: flex;
				align-items: center;
				gap: 8px;
				width: 100%;

				.pool-placeholder-image {
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: white;
					width: 45px;
					height: 45px;
					border-radius: 50%;
				}

				.pool-placeholder-title {
					overflow: hidden;
					text-overflow: ellipsis;
					display: inline-block;
					white-space: nowrap;
					max-width: 180px;
				}
			}

			.pool-placeholder-blocks {
				display: flex;
				gap: 4px;
				width: 100%;

				> span {
					background-color: white;
					padding: 8px;
					border-radius: 4px;
					min-height: 40px;
					width: 100%;
				}
			}
		}

		&.pools-grid {
			grid-template-columns: 1fr 1fr;
			.pool-placeholder {
				flex: 1 1;
				min-width: 40%;
				.pool-placeholder-head {
					margin-bottom: 8px;
				}
			}
		}

		&.pools-list {}

		&.pools-mini {
			grid-template-columns: 1fr 1fr;
			.pool-placeholder {
				flex: 1 1;
				min-width: 40%;
				.pool-placeholder-head {
					margin-bottom: 8px;
				}
				.pool-placeholder-blocks {
					> span {
						min-height: 10px;
					}
				}
			}
		}
	}
}
